/**************************TAG SELECTORS*************************************/

body {
 background-color: #eeebdd;
}

hr {
 background-color: transparent;
 border-style: none none dotted;
 border-color: black;
 border-width: 8px;
 width: 8%;
}

h1 {
  color: #17b978
}

h3 {
  color: #17b978
}

img:hover {
  background-color: grey;
}

/****************************CLASS SELECTORS**********************************/
.dp {
  height: 290px;
}
.circular {
  border-radius: 100%;
}
/****************************ID SELECTORS*************************************/

#heading {
  color: yellow;
}
