body {
  background-color: #FFD523;
}

h1 {
  text-align: center;
  height: 2%;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

hr {
  width: 100%;
  border: none;
}

form {
  position: relative;
  text-align: center;
  margin : 0 auto
}

img:hover {
  background-color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
